@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');

    
}
:root{
    --cor1: #c5ebdc;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-pradão: arial, verdana,
    helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor2);
    font-family: var(--fonte-pradão);
}

a.externo::after{
    content: '\00A0\1f517';

}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6)) ;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);
    font-weight: normal;
}

header > p{
    font-family: var(--fonte-pradão);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav{
   background-color: var(--cor6);
   padding: 10px;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.116);
}

nav > a{
    color: var(--cor2);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor6);
}

main{
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    min-width: 300px;
    max-width: 900px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-radius: 0px 0px 10px 10px;
}

main  h1{
    font-family: var(--fonte-android);
    color: var(--cor6);
    font-size: 1.8em;
    font-weight: normal;
}

main h2{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    text-indent: 30px;
}

main strong{
    color: var(--cor5);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    background-color: var(--cor2);
    color: var(--cor6);
    border-radius: 4px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main img{
    width: 100%;
}

.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

.video{
    background-color: var(--cor6);
    margin: 0px -10px 30px -10px;
    padding: 15px;
    padding-bottom: 58%;
    position: relative;
}
.video >iframe{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.26);
}

aside h3{
    color: white;
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}
 

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
